In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('coral2013.csv')

In [3]:
df.head()

,MISSIONID,REGION_NAME,ISLAND,SITE,LATITUDE,LONGITUDE,REEF_ZONE,EXCLUDE_FLAG,SITEVISITID,DATE_,...,SEVERITY,TAXONNAME,PHYLUM,CLASS,S_ORDER,FAMILY,GENUS,SCIENTIFIC_NAME,RANK,APHIAID
0,FAGAALU3,American Samoa,Tutuila,TUT-936,-14.291431,-170.673380,Forereef,-1,5653,1-Apr-13,...,NaN,Favia matthaii,Cnidaria,Anthozoa,Scleractinia,Faviidae,Favia,Favia matthaii,Species,207437.0
1,FAGAALU3,American Samoa,Tutuila,TUT-936,-14.291431,-170.673380,Forereef,-1,5653,1-Apr-13,...,NaN,Favia matthaii,Cnidaria,Anthozoa,Scleractinia,Faviidae,Favia,Favia matthaii,Species,207437.0
2,FAGAALU3,American Samoa,Tutuila,TUT-936,-14.291431,-170.673380,Forereef,-1,5653,1-Apr-13,...,NaN,Favia matthaii,Cnidaria,Anthozoa,Scleractinia,Faviidae,Favia,Favia matthaii,Species,207437.0
3,FAGAALU3,American Samoa,Tutuila,TUT-936,-14.291431,-170.673380,Forereef,-1,5653,1-Apr-13,...,NaN,Favia matthaii,Cnidaria,Anthozoa,Scleractinia,Faviidae,Favia,Favia matthaii,Species,207437.0
4,FAGAALU3,American Samoa,Tutuila,TUT-955,-14.290166,-170.676753,Forereef,-1,5670,10-Apr-13,...,NaN,Favia matthaii,Cnidaria,Anthozoa,Scleractinia,Faviidae,Favia,Favia matthaii,Species,207437.0

In [4]:
df['GENUS'].value_counts()

Porites           3537
Pavona            2363
Montipora         2226
Rhodactis         1717
Sinularia          923
Cladiella          855
Pocillopora        841
Acropora           781
Psammocora         351
Leptastrea         157
Cyphastrea         153
Fungia             126
Leptoseris         122
Millepora           85
Galaxea             62
Aiptasia            55
Montastraea         55
Mycedium            47
Lobophytum          47
Favia               36
Palythoa            21
Lobophyllia         20
Sarcophyton         19
Astreopora          13
Echinopora          13
Favites             10
Stylaster            9
Leptoria             7
Goniastrea           6
Coscinaraea          6
Protopalythoa        6
Diploastrea          5
Entacmaea            5
Oxypora              5
Hydnophora           4
Platygyra            3
Alveopora            2
Gardineroseris       2
Merulina             2
Zoanthus             1
Acanthastrea         1
Isopora              1
Pachyseris           1
Cycloseris           1
Stylocoeniella       1
Name: GENUS, dtype: int64

In [5]:
df['COND_DESCRIPTION'].value_counts()

No Disease                             14391
Environmental / Thermal Bleaching        140
Predation                                 96
Algal Infection                           58
Coralline Fungal Disease                  15
Coralline White Band Syndrome             11
Cyanophyte Infection                       9
Coralline Lethal Orange Disease            6
Skeletal Growth Anomalies                  5
Other                                      3
Sub-acute Tissue Loss                      3
Tube Worm Infestation                      3
Barnacle Infestation                       1
Discolorations other than Bleaching        1
Name: COND_DESCRIPTION, dtype: int64

In [6]:
df['OLDDEAD'].value_counts()

0.0     12696
10.0      374
20.0      254
50.0      218
40.0      198
5.0       175
30.0      166
60.0      165
80.0      109
70.0      105
25.0       92
90.0       86
95.0       29
15.0       16
2.0        14
75.0       13
35.0       10
1.0         6
45.0        6
85.0        5
65.0        3
99.0        1
98.0        1
Name: OLDDEAD, dtype: int64

In [8]:
df['RECENTDEAD'].value_counts()

0.0      14434
5.0         94
10.0        73
1.0         33
2.0         25
20.0        24
30.0        14
50.0        13
15.0         9
40.0         8
100.0        5
90.0         4
60.0         2
70.0         2
25.0         1
35.0         1
Name: RECENTDEAD, dtype: int64

In [11]:
df2015 = pd.read_csv('V0_CORAL_OBS_E_FAGAALU_2015.csv')

In [12]:
df2015['COND_DESCRIPTION'].value_counts()

No Disease                             2826
Environmental / Thermal Bleaching        12
Cyanophyte Infection                      9
Tube Worm Infestation                     7
Barnacle Infestation                      4
Coralline White Band Syndrome             2
Pigmentation Response                     2
Discolorations other than Bleaching       1
Algal Infection                           1
Skeletal Growth Anomalies                 1
Coralline Lethal Orange Disease           1
Patchy Bleaching                          1
Alcyonarian Necrotizing Disease           1
Name: COND_DESCRIPTION, dtype: int64

In [13]:
samoa = pd.read_csv('SAMOA.csv')

In [14]:
samoa['recent_general_cause_code_1'].value_counts()

PRED    287
UNKN     44
DZGN     24
DAMG     16
OVRG      4
Name: recent_general_cause_code_1, dtype: int64

In [15]:
samoa['recent_general_cause_code_2'].value_counts()

PRED    5
OVRG    2
Name: recent_general_cause_code_2, dtype: int64

In [16]:
samoa['recent_general_cause_code_3'].value_counts()

Series([], Name: recent_general_cause_code_3, dtype: int64)

In [17]:
samoa['olddead'].value_counts()

0.0     2809
10.0     549
5.0      429
20.0     248
15.0     159
50.0     126
3.0      116
30.0     110
25.0      85
40.0      83
2.0       71
1.0       68
60.0      67
35.0      46
70.0      35
80.0      31
65.0      21
8.0       19
75.0      16
45.0      16
90.0      13
95.0      11
55.0       8
6.0        8
7.0        8
85.0       7
12.0       5
4.0        5
18.0       4
9.0        3
13.0       2
48.0       2
17.0       2
98.0       2
11.0       1
33.0       1
78.0       1
28.0       1
51.0       1
36.0       1
56.0       1
Name: olddead, dtype: int64

In [18]:
samoa['recentdead_1'].value_counts()

0.0     4816
5.0      134
2.0       59
1.0       55
3.0       52
10.0      43
15.0       6
8.0        6
6.0        5
20.0       5
30.0       2
25.0       2
4.0        2
50.0       2
59.0       1
60.0       1
Name: recentdead_1, dtype: int64

In [19]:
samoa['recentdead_2'].value_counts()

0.0    5184
1.0       3
3.0       3
5.0       1
Name: recentdead_2, dtype: int64

In [20]:
samoa['recentdead_3'].value_counts()

0.0    5191
Name: recentdead_3, dtype: int64

In [21]:
samoa['genus'].value_counts()

Montipora         1265
Astrea             635
Pocillopora        443
Porites            331
Favia              311
Acropora           292
Pavona             279
Goniastrea         231
Astreopora         225
Isopora            209
Galaxea            148
Leptastrea         124
Fungia              99
Psammocora          95
Leptoria            76
Cyphastrea          66
Platygyra           60
Leptoseris          41
Turbinaria          27
Favites             27
Lobophyllia         20
Phymastrea          20
Coscinaraea         16
Echinopora          15
Hydnophora          15
Acanthastrea        11
Echinophyllia        8
Cycloseris           4
Millepora            3
Stylophora           3
Herpolitha           2
Mycedium             2
Oulophyllia          2
Tubastraea           2
Merulina             1
Sandalolitha         1
Alveopora            1
Stylocoeniella       1
Symphyllia           1
Name: genus, dtype: int64